################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ThreeDMaths/obj/Debug
/.vs/ThreeDMaths/v15/Server/sqlite3
/ThreeDMaths/bin/Debug
/packages/System.ValueTuple.4.5.0
